.searchBox {
  position: relative;
  display: flex;
  align-items: center;
}

.searchIcon {
  position: absolute;
  left: 15px;
}

.searchInput {
  background-color: #fff;
  border: solid 1px #eeeeef;
  border-radius: 10px;
  padding: 10px 10px 10px 45px;
  width: 300px;
}

.searchInput::placeholder {
  color: #9b9ea1;
}
