.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  grid-gap: 16px;
}

@media only screen and (max-width: 655px) {
  .gridContainer {
    justify-items: center;
  }
}

.loading,
.searchNotFound {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
